<div class="icon-widget-container">

    @if (technologies.includes('Git')) {
    <img src="library-icons/git.svg" alt="React">
    }

    @if (technologies.includes('Angular')) {
    <img src="library-icons/angular.svg" alt="Angular">

    }
    @if (technologies.includes('React')) {
    <img src="library-icons/react.svg" alt="React">

    }
    @if (technologies.includes('GraphQL')) {
    <img src="library-icons/graphql.svg" alt="GraphQl">
    }


    @if (technologies.includes('Android')) {
    <img src="library-icons/android.svg" alt="Android">
    }


</div>