mat-panel-description {
    display: flex;
    place-content: end;

}

.employment-details-container {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;

    // div :nth-child(4n+1) {
    //     background-color: #f2f2f2;
    // }

    // div:nth-child(4n) {
    //     background-color: #ffffff;
    // }

    // :nth-child(4n+1)
}

mat-icon {
    margin: 0 10px;
}

@media screen and (max-width: 700px) {
    .employment-details-container {
        grid-template-columns: 1fr;
    }

    .employment-dates {
        display: none;
    }
}