<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title> {{employmentHistory.company}} </mat-panel-title>
            <mat-panel-description>
                <p>{{employmentHistory.startDate}} – {{employmentHistory.endDate}}</p>
                <mat-icon>work</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="employment-details-container">
            <div>Role</div>
            <div>{{employmentHistory.role}}</div>

            <div>Duties:</div>
            <div>{{employmentHistory.duties}}</div>

            @for (project of employmentHistory.projects; track $index) {
            <div>Project Description:</div>
            <div> {{project}} </div>
            }


        </div>
    </mat-expansion-panel>
</mat-accordion>