.mandala-container {
    width: 100%;
    height: auto;
    background-color: #ff000000;
}

#OuterCircle {
    transform-origin: center;
    animation: rotateCounterClockwise 300s linear infinite;
}

#InnerCircle {
    transform-origin: center;
    animation: rotate 300s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateCounterClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}